.project {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: auto;
}

.project-info {
  padding: 10px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.button {
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #555;
}
