.header {
  display: flex;
  justify-content: center;
  background-color: #f8f9fa;
  padding: 20px 0;
}

.header-link {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.header-link:hover {
  color: #007bff;
}

.navigation {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
}
