.contact {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 50px;
}

.contact h2 {
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
  padding: 20px;
  border: 1px solid gray;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 260px;
}

.contact-form button {
  padding: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #555;
}
