.about-me {
  text-align: center;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.my-photo {
  max-width: 30%;
  height: auto;
  border-radius: 50%;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.bio {
  width: 100%;
  max-width: 800px;
}
